{% extends 'tests/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  {% if messages %}
    {% for message in messages %}
      <h3>{{ message}}</h3> 
    {% endfor %}
  {% endif %}
  <h1>Registre uma nova Questão</h1>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy}}
    <h2>Alternativas</h2>
    {{ formset.management_form }}
    {% for form in formset %}
      <div class="form-choices">
        {% for vis in form.visible_fields %}
          {{vis|as_crispy_field}}
        {%endfor%}
        {% for invis in form.hidden_fields %}
          {{invis|as_crispy_field}}
        
        {%endfor%}
        
      </div>
    {% endfor %}

    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
{% endblock content %}