{% extends 'tests/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="nav-tests-header">
            <h1>Simulados cadastrados</h1>
            <a class="btn btn-primary" href="{%url 'tests:create_test'%}">Novo simulado</a>
        </div>
        <span class="tema-atual" style="display: none;">{{tema}}</span>
        <nav class="nav-tests" >
            <form class="mb-2 text-center" method="post", action="{%url 'tests:list_tests' 6%}">
                {% csrf_token %}
                {{ search_form}}
                <button class="btn btn-primary" type="submit">Procurar</button>
            </form>
            <div class="nav navbar-dark bg-info nav-tests-div nav-tabs" id="nav-tab" role="tablist">
                {%if tema < 1 or tema > 5%}
                <button class="nav-link active links-test"><a href="{%url 'tests:list_tests' 6%}">Todos</a></button>
                {%else%}
                <button class="nav-link links-test"><a href="{%url 'tests:list_tests' 6%}">Todos</a></button>
                {%endif%}

                {%if tema == 1%}
                <button class="nav-link active links-test"><a href="{%url 'tests:list_tests' 1%}">Matemática</a></button>
                {%else%}
                <button class="nav-link links-test"><a href="{%url 'tests:list_tests' 1%}">Matemática</a></button>
                {%endif%}
                
                {%if tema == 2%}
                <button class="nav-link active links-test"><a href="{%url 'tests:list_tests' 2%}">Ciências Humanas</a></button>
                {%else%}
                <button class="nav-link links-test"><a href="{%url 'tests:list_tests' 2%}">Ciências Humanas</a></button>
                {%endif%}

                {%if tema == 3%}
                <button class="nav-link active links-test"><a href="{%url 'tests:list_tests' 3%}">Ciências da Natureza</a></button>
                {%else%}
                <button class="nav-link links-test"><a href="{%url 'tests:list_tests' 3%}">Ciências da Natureza</a></button>
                {%endif%}

                {%if tema == 4%}
                <button class="nav-link active links-test"><a href="{%url 'tests:list_tests' 4%}">Linguagens e Código</a></button>
                {%else%}
                <button class="nav-link links-test"><a href="{%url 'tests:list_tests' 4%}">Linguagens e Código</a></button>
                {%endif%}

                {%if tema == 5%}
                <button class="nav-link active links-test"><a href="{%url 'tests:list_tests' 5%}">Conhecimentos Gerais</a></button>
                {%else%}
                <button class="nav-link links-test"><a href="{%url 'tests:list_tests' 5%}">Conhecimentos Gerais</a></button>
                {%endif%}
            </div>
        </nav>
    </div>

    {%block tests%}
    
    {%endblock tests%}
{%endblock content%}



